# Environments
.env
.venv
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
*.db
*.sqlite3

# Logs
*.log

# Django
*.egg
*.egg-info/
dist/
build/
staticfiles/

# Other
.DS_Store
*.coverage
*.mypy_cache/
*.pytest_cache/
*.pkl
celerybeat-schedule
celerybeat.pid

# Ignore all .env files except the example
!.env.example